@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --background: #000000;
  --foreground: #E2E2E2;
  --card: #111111;
  --card-foreground: #E2E2E2;
  --popover: #111111;
  --popover-foreground: #E2E2E2;
  --primary: #E2E2E2;
  --primary-foreground: #000000;
  --secondary: #333333;
  --secondary-foreground: #E2E2E2;
  --muted: #222222;
  --muted-foreground: #999999;
  --accent: #333333;
  --accent-foreground: #E2E2E2;
  --destructive: #FF4444;
  --destructive-foreground: #E2E2E2;
  --border: #333333;
  --input: #333333;
  --ring: #E2E2E2;
}

.dark {
  --background: #000000;
  --foreground: #E2E2E2;
  --card: #111111;
  --card-foreground: #E2E2E2;
  --popover: #111111;
  --popover-foreground: #E2E2E2;
  --primary: #E2E2E2;
  --primary-foreground: #000000;
  --secondary: #333333;
  --secondary-foreground: #E2E2E2;
  --muted: #222222;
  --muted-foreground: #999999;
  --accent: #333333;
  --accent-foreground: #E2E2E2;
  --destructive: #FF4444;
  --destructive-foreground: #E2E2E2;
  --border: #333333;
  --input: #333333;
  --ring: #E2E2E2;
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #999999;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
